# Ignore node_modules directory
node_modules/

# Ignore .env file which contains sensitive information
.env

# Ignore npm debug log file
npm-debug.log

# Ignore package-lock.json file
package-lock.json